{
  "GUILD_ID": {
    "channels": null,
    "crossposting": {
      "channels": [],
      "enabled": false
    },
    "errorWebhook": null,
    "feedback": {
      "enabled": true
    },
    "models": {
      "embeddings": "BAAI/bge-m3",
      "inference": "claude-sonnet-4-6"
    },
    "roles": null,
    "ticketing": {
      "enabled": false,
      "tickets": null
    }
  }
}
